h2 {
    color: #F8F8FF;
    font-size: 28px;
}

mark {
    color: #F8F8FF;
    background-color: #00004d;
}

html * {
    line-break: anywhere;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

img {
    border-radius: 50%;
}

h1 {
    font-size: 44px;
}