
body {
    background: linear-gradient(to right, #00b09b, #00ff6a);
    animation: gradient 15s ease infinite;
    background-size: 100% 100%;
}

h1 {
    text-align: center;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}

form {
    text-align: center;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}

.result {
    text-align: center;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    size: 150%;
}

p {
    text-align: center;
}   

.list {
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}

/* stylize button */

button {
    background-color: rgba(0, 0, 0, 0.463);
    border-radius: 8px;
    border-width: 2px;
    border-color: aliceblue;
    height: 35px;
    width: 50px;
}

input {
    background-color: rgba(0, 0, 0, 0.463);
    border-radius: 8px;
    border-width: 2px;
    border-color: aliceblue;
    height: 30px;
    width: 250px;
}

::placeholder {
    color: aliceblue;
}

label {
    text-align: center;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    size: 150%;
    font-weight: bold;
    font-size: 20px;
    
}



